{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <h1>Perangkat Desa Kecamatan Krejengan</h1>

        <table class="table table-striped table-hover table-bordered border-primary">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Desa</th>
                    <th scope="col">Jabatan</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">Nomer HP</th>
                </tr>
            </thead>
            <tbody>
                {% if records %}
                    {% for record in records %}
                        <tr>
                            <td>{{ record.first_name }} {{ record.last_name }}</td>
                            <td><a href="{% url 'record' record.desa %}">{{ record.desa }}</a></td>
                            <td>{{ record.jabatan }}</td>
                            <td>{{ record.kelahiran }}</td>
                            <td>{{ record.hp }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>        

    {% else %}
        
        <div class="col-md-6 offset-md-3"></div>
        <h1>Log In</h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Ketik Nama" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Ketik Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    {% endif %}

{% endblock %}
